<div class="custom-navbar">
           <div class="navbar-start">
            <a href="/index.html" class="underline-none"><h2 class="text-2xl font-bold">stainlesteel</h2></a>
           </div>
           <div class="navbar-end hidden md:flex underline-none">
            <ul class="flex menu menu-horizontal">
               <li><a href="/index.html">Home </a></li>
               <li><a href="/projects.html">Projects </a></li>
               <li><a href="/contacts.html">Contacts </a></li>
               <li><a href="/blog.html">Blog </a></li>
            </ul>
           </div>
           <div class="navbar-end flex md:hidden">
            <div class="dropdown">
                    <div tabindex="0" class="btn border-2 border-neutral">btn</div>
                     <ul tabindex="-1" class="dropdown-start dropdown-content menu bg-neutral rounded-2xl w-23">
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/projects.html">Projects</a></li>
                        <li><a href="/contacts.html">Contacts</a></li>
                        <li><a href="/blog.html">Blog</a></li>
                     </ul>
            </div>
           </div>
           
</div>
     
