<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/pico-main/css/pico.min.css">
    <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
</head>
<body>
    <link rel="stylesheet" href="/assets/css/style.css">
    {% include header.html %}
    <br>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <main class="container">
      {{ content }}   
    </main>
    {% include footer.html %}
</body>
</html>


